.letter {
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 60%;
    border-radius: 2rem;
    
    @media (max-width: 768px) {
        margin : 0 auto;
        width: 70%;
    }
}

.letter-wrapper{
    margin : 0 auto;
    transition: all 0.7s;
}
.letter-title {
    width : 80%;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 30px;
    padding-bottom: 10px;
}

/*present page (page2) css setting */
.present-title {
    font-size : 30px;
    display: flex;
    justify-content: center;
}

.present-picker{
    width : 60%;
    margin: 0 auto;
    @media (max-width: 768px) {
        width : 100%;
    }
    
}

.present-picker-ul {
    display: flex;
    justify-content: center;
    padding : 20px;
    
}

.present-picker-ul.li:hover .Image_on{
    display: none;
}

.present-picker-ul.li:hover .Image_off{
    display: block;
}

.figure {

    width: 80%; /* can be omitted for a regular non-lazy image */
    height : 200px;
    max-width: 100%;
    padding : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("./giftbox.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    
    @media (max-width: 768px) {
        width : 100%;
        background-size: 80% 80%;
        background-repeat: no-repeat;
    }
    
  }
  .figure.p1 {
    display: flex;
    justify-content: center;
  }
  .figure.p1:hover {
    
    background-image: url("./present1.png");

    @media (max-width: 768px) {
        
        background-repeat: no-repeat;
    }
  }

  .figure.p2:hover {
    background-image: url("./present2.png");

    @media (max-width: 768px) {
        
        background-repeat: no-repeat;
    }
  }

  .figure.p3:hover {
    background-image: url("./present3.png");

    @media (max-width: 768px) {

        background-repeat: no-repeat;
    }
  }

  .figure Image.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain; 
    opacity: 0;
    transition: opacity .2s;
    
  }
  .figure:hover Image.image-hover {
    opacity: 1;
  }